.App {
  text-align: center;
  background-color: white;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align to the start (left) */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.top-bar {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px; /* Add padding to separate the image from the edge */
}

.hawk {
  width: 500px; /* Adjust size as necessary */
  height: auto;
}

.alumni-additions {
  font-size: 72px; /* Adjust size as necessary */
  padding-left: 100px; /* Space between image and text */
  margin: 0; /* Remove default margins */
  color: black;
}

.content-area {
  background-color: #dadada; /* Very light grey background */
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align content to the left */
  padding-top: 20px; /* Space from the top */
  padding-left: 20px; /* Space from the left */
}
